<div class='row'>
  <div class='col-sm-8'>
    <%= form_for(@post, :html=>{:class=>'form'}) do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
         <%= f.label :date, 'Дата' %><br>
         <input class="datepicker form-control" name='post[date]' type="text"/>
      </div>
      <div class="field form-group">
        <%= f.label :title,'Название' %><br>
        <%= f.text_field :title, :class=>'form-control'%>
      </div>
      <div class="field form-group">
        <%= f.label :description, 'Описание' %><br>
        <%= f.text_area :description, :class=>'form-control', :rows=>20 %>
      </div>

      <div class="actions">
        <%= f.submit 'Сохранить', :class=>'btn btn-primary'%>
      </div>
    <% end %>
  </div>
</div>