<p id="notice"><%= notice %></p>

<%= link_to 'Добавить сон', new_post_path, :class=>'btn btn-default' %>

<% @posts.each do |post| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <span><%= post.date.strftime('%d.%m.%Y')  %></span>
          <%= link_to post.title, post %>
        </h4>
        <p>
          <% post.tag_list.each do |tag| %>
            <a href='/posts/tags/<%=tag%>'>#<%= tag%></a>
          <%end%>
        </p>
        <%= post.description %>
      </div>
    </div>
<% end %>

