<p id="notice"><%= notice %></p>

<h3>
   <%=@post.title %>
</h3>

<div class='label label-info'>
	<%= @post.date.strftime('%d.%m.%Y') %>
</div>


<p>
  <% @post.tag_list.each do |tag| %>
  	<a href='/posts/tags/<%=tag%>'>#<%= tag%></a>
  <%end%>
</p>


<p>
  <%= @post.description %>
</p>
